:root {
    --background: #f5f5f5;
    --containers: #3991C6;
    --textHeaders: #91C639;
    --textGeneral: #C63991;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 180px;
    background-image: url('../images/cartBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Behind */
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10,10,10,0.3); /* Makes the background img dimmer */
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2; /* In Front */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 10px;
    background-color: var(--containers);
    text-decoration: none;
    color: black;
    top: 200px;
    width: 100px;
    transition: 0.5s;
    cursor: pointer;
}

li a:hover {
    background-color: var(--background);
    color: var(--textGeneral);
    transition: 0.5s;
}

.cart {
    vertical-align: bottom;
    font-size: 16px;
    padding-right: 5px;
}

.cart a {
    cursor: pointer;
    text-decoration: none;
}

header .cartIcon a {
    padding: 10px;
    padding-right: 5px;
    background-color: var(--containers);
    text-decoration: none;
    color: black;
    top: 200px;
    width: 100px;
    transition: 0.5s;
    cursor: pointer;
}

header .cartIcon a:hover {
    background-color: var(--background);
    color: var(--textGeneral);
    transition: 0.5s;
}

.productContainer {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-around;
}

.productContainer i {
    font-size: 25px;
    color: var(--containers);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.productHeader {
    width: 100%;
    max-width: 650px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start; /* Places at start of the line */ 
    border-bottom: var(--textHeaders) solid 4px;
}

.productTitle {
    width: 45%;
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    width: 15%;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

.qty {
    width: 30%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.total {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 10%;
    font-weight: bold;
}

.products {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: bold;
}